/* /////////////////// HEADER CSS ////////////////////////// */
header {
  block-size: 100vh;
  padding-block-start: 1rem;
}

.header__container {
  text-align: center;
  block-size: 100%;
  position: relative;
}

.header__container h1 {
  font-size: clamp(30px , calc(30px + (60 - 30) *((100vw - 665px) / (1920 - 665))), 60px);
  font-weight: 900;
  font-family: 'Palanquin', sans-serif;
  line-height: normal;
}

.header__container h5 {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.header__container h5:nth-child(3) {
  margin-bottom: 10px;
}



/* =========================== CTA ================== */

.cta {
  margin-block-start: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

/* =============== Socials ================= */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 11.25rem;
}

.header__socials::after {
  content: "";
  inline-size: 1px;
  block-size: 2rem;
  background: $color-primary;
}

.me {
  background: linear-gradient($color-primary, transparent 80%);
  inline-size: 100%;
  block-size: calc(100vh - 238.4px);
  margin-block-start: 62.4px;
  border-radius: 100vmax 100vmax 0 0;
/*   padding: 32px 1.5rem 0 1.5rem; */
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  top: 13rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@include for-tablet-landscape-up {
  .me {
    inline-size: 33rem;
    margin-inline: auto;
  }
  .header__socials {
    inset-block-start: 26.25rem;
  }

  .scroll__down {
    inset-block-start: 26.25rem;
  }

  .header__container h5 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

}

@include for-desktop-up {
  .me {
     margin-block-start: 15.4px;
  }
}